body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center center;
  background-color: palegoldenrod;
}

.card {
  width: 120px;
  height: 120px;
  margin: 10px;
  display: inline-block;
}

.front {
  background-color: burlywood;
}

.grid-container {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  justify-items: center;
  justify-content: center;
}